# Pandas
    * Pandas is an open source library built on top of Numpy.
    * It allows for faster analysis and data cleaning and operation.
    * It excels in perfomance and productivity.
    * It also has built-in visualization features.
    * It can work with data from a wide variety of sources

In [2]:
import numpy as np
import pandas as pd

## Series
    --> Series is a Type of Array Built-on top of Numpy Array.
    --> Unlike Numpy Array Series Can Use Custom Labels as index.

In [3]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}

In [4]:
# Creating Series Using Python List
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
# Creating Series Using Python List With Custom Index.
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
# Creating Series Using Numpy Array
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
# Creating Series Using Numpy Array With Custom Index
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
# Creating Series Using Python Dictionary.
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
# Series Using String as data points.
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [13]:
# Series Can Hold Built-in function as data points.
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Grabbing Data From A Series

In [14]:
ser1 = pd.Series(data=[1, 2, 4, 5], index=['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       4
Japan      5
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [18]:
ser3 = pd.Series(['a', 'b', 'c'])
ser3

0    a
1    b
2    c
dtype: object

In [19]:
ser1['USSR']

4

In [20]:
ser2['Japan']

4

In [21]:
ser3[2]

'c'

In [22]:
ser3[0]

'a'

In [23]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      9.0
USA        2.0
USSR       NaN
dtype: float64

In [24]:
ser1 * ser2

Germany     4.0
Italy       NaN
Japan      20.0
USA         1.0
USSR        NaN
dtype: float64