# Pandas - DataFrames - Part3

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

## MultiIndex

In [2]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [3]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])
df

             A         B
G1 1  1.187927 -0.378360
   2 -0.284554  0.148282
   3 -1.487395  0.241345
G2 1  2.551234 -1.175161
   2 -0.582828  0.284082
   3 -0.921630 -0.038799

In [5]:
df.loc['G1']

          A         B
1  1.187927 -0.378360
2 -0.284554  0.148282
3 -1.487395  0.241345

In [6]:
df.loc['G1'].loc[1]

A    1.187927
B   -0.378360
Name: 1, dtype: float64

In [7]:
df.loc['G1', 'A']

1    1.187927
2   -0.284554
3   -1.487395
Name: A, dtype: float64

In [8]:
df.index.names

FrozenList([None, None])

In [9]:
df.index.names = ['Groups', 'Num']

In [10]:
df

                   A         B
Groups Num
G1     1    1.187927 -0.378360
       2   -0.284554  0.148282
       3   -1.487395  0.241345
G2     1    2.551234 -1.175161
       2   -0.582828  0.284082
       3   -0.921630 -0.038799

In [11]:
df.loc['G2', 'B'].loc[2]

0.2840823601021227

In [12]:
df.loc['G2'].loc[2]['B']

0.2840823601021227

In [13]:
df

                   A         B
Groups Num
G1     1    1.187927 -0.378360
       2   -0.284554  0.148282
       3   -1.487395  0.241345
G2     1    2.551234 -1.175161
       2   -0.582828  0.284082
       3   -0.921630 -0.038799

## Cross-Section Selection For MultiIndex DataFrame
    --> Can Go Any Level For Selection

In [14]:
df.xs('G1')

            A         B
Num
1    1.187927 -0.378360
2   -0.284554  0.148282
3   -1.487395  0.241345

In [15]:
df.xs(1, level='Num')

               A         B
Groups
G1      1.187927 -0.378360
G2      2.551234 -1.175161

In [16]:
df.xs('G2', level='Groups')

            A         B
Num
1    2.551234 -1.175161
2   -0.582828  0.284082
3   -0.921630 -0.038799

In [17]:
df.xs(2, level='Num')

               A         B
Groups
G1     -0.284554  0.148282
G2     -0.582828  0.284082

In [18]:
df.xs('A', axis=1)

Groups  Num
G1      1      1.187927
        2     -0.284554
        3     -1.487395
G2      1      2.551234
        2     -0.582828
        3     -0.921630
Name: A, dtype: float64