# Data Input And Output
    * CSV
    * Excel
    * HTML
    * SQL

In [1]:
import pandas as pd

In [2]:
pwd

'D:\\Projects\\data_ml\\jose-complete-course\\pandas'

## CSV Files

In [3]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df = pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df['e'] = [55, 65, 77, 8]
df

    a   b   c   d   e
0   0   1   2   3  55
1   4   5   6   7  65
2   8   9  10  11  77
3  12  13  14  15   8

In [6]:
# If Not Providing 'index=False' Then It Throws Old Index as a Column(Extra Column) Inside The Output File
df.to_csv('My_Output.csv')

In [7]:
pd.read_csv('My_Output.csv')

   Unnamed: 0   a   b   c   d   e
0           0   0   1   2   3  55
1           1   4   5   6   7  65
2           2   8   9  10  11  77
3           3  12  13  14  15   8

In [8]:
df.to_csv('My_Output.csv', index=False)

In [9]:
pd.read_csv('My_Output.csv')

    a   b   c   d   e
0   0   1   2   3  55
1   4   5   6   7  65
2   8   9  10  11  77
3  12  13  14  15   8

## Excel Files
    * Need 'xlrd' Library. (conda install xlrd).
    * Pandas Thinks Each Sheet of a Excel File as a DataFrame.

In [10]:
df = pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
df['e'] = [15, 16, 55, 65]
df

    a   b   c   d   e
0   0   1   2   3  15
1   4   5   6   7  16
2   8   9  10  11  55
3  12  13  14  15  65

In [13]:
df.to_excel('My_Excel_Output.xlxs', sheet_name='Sheet1')

ValueError: No engine for filetype: 'xlxs'

## HTML Files
    * Turn HTML Tables Into a List of DataFrames

In [ ]:
# Data Source - https://www.fdic.gov/bank/individual/failed/banklist.html

In [ ]:
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
data

In [ ]:
data[0]